<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SISWin1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SISWin1.Properties.Settings>
            <setting name="SISWin1_SeansXMLWebServisi_SeansServisi" serializeAs="String">
                <value>https://localhost:44394/SeansServisi.asmx</value>
            </setting>
            <setting name="SISWin1_CalisanXMLWebServisi_CalisanServisi" serializeAs="String">
                <value>https://localhost:44394/CalisanServisi.asmx</value>
            </setting>
            <setting name="SISWin1_HastaXMLWebServisi_HastaServisi" serializeAs="String">
                <value>https://localhost:44394/HastaServisi.asmx</value>
            </setting>
        </SISWin1.Properties.Settings>
    </applicationSettings>
</configuration>